@{
    WatanART.BLL.BussinessLayer.SliderBLL _SliderBLL = new WatanART.BLL.BussinessLayer.SliderBLL();
    List<WatanART.BLL.ViewModels.SliderVM> SliderLST = new List<WatanART.BLL.ViewModels.SliderVM>();
    SliderLST = _SliderBLL.SelectALLActive(WatanART.Helpers.CultureHelper.CurrentCulture);
}
<div class="camera_wrap camera_azure_skin" id="camera_wrap_1">

    @foreach (WatanART.BLL.ViewModels.SliderVM item in SliderLST)
    {
        <div data-src="@item.SliderImage">
            <div class="camera_caption">
                <h2>@item.DescriptionAr</h2>
                <a href="@(item.SliderUrl.IndexOf("http://") > -1 ? item.SliderUrl : "http://" + item.SliderUrl)" class="btn btn-primary btn-lg" target="_blank">@WatanART.Localization.Resource.ViewMore</a>
            </div>
        </div>
    }
</div>
