@model WatanART.BLL.ViewModels.ModulesVM
@{
    Layout = "~/Views/Shared/_WebSiteLayout.cshtml";
    ViewBag.Title = "Features";
}

<div class="page about">
    <div class="container">
        <h3 class="page-title">@WatanART.Localization.Resource.features</h3>
        <img class="img-fluid" src="@Url.Content("~/UploadedImages/" +Model.ModuleImage)">
        <p>
          @Model.Descrption
        </p>
    </div>
</div>

