body {
text-align: right;
direction: rtl;
 }
 .block i {
     margin-left: 10px;
     margin-right: 0px;
     float: right;
 }
 .block {
     padding: 10px 0px 0px 10px;
 }
 .card i {
    margin-right: 0px;
    margin-left: 5px;
}
.card b {
    display: inline-block;
}
