@{ 

    var lstModules =   WatanART.BLL.BussinessLayer. ModulesCatagoryBLL.SelectALLCatagories();
}

@foreach (var item in lstModules)
{

    if (WatanART.Helpers.CultureHelper.CurrentCulture == 0 || WatanART.Helpers.CultureHelper.CurrentCulture==2)
    {
        if (item.CatagoryID == 8)
        {

        }
        else
        {
            <li class=@(Request.Url.Segments.Last() == (item.CatagoryID+"")  ? "active" : "")>
                <a href="@Url.Action("Index", "Modules", new { @id = item.CatagoryID })"><i class="fa fa-lg fa-fw fa-gavel"></i> <span class="menu-item-parent">@item.CatagoryNameEn</span></a>

            </li>
        }





    }
    else
    {
        if (item.CatagoryID == 8)
        {

        }
        else
        {

        <li class=@(Request.Url.Segments.Last() == (item.CatagoryID + "") ? "active" : "")>
            <a href="@Url.Action("Index", "Modules", new { @id = item.CatagoryID })"><i class="fa fa-lg fa-fw fa-gavel"></i> <span class="menu-item-parent">@item.CatagoryNameAr</span></a>

        </li>
        }




    }

}
