@font-face{font-family:pfdBold;
           src:url(../fonts/PFDinTextUniversal-Bold.otf)}

@font-face{font-family:pfdLight;
           src:url(../fonts/PFDinTextUniversal-Light.otf)}

@font-face{font-family:pfdMedium;
           src:url(../fonts/PFDinTextUniversal-Medium.otf)}

@font-face{font-family:pfdRegular;
           src:url(../fonts/PFDinTextUniversal-Regular.otf)}

@font-face{font-family:pfdThin;
           src:url(../fonts/PFDinTextUniversal-Thin.otf)}
 body {
 direction: rtl;
 font-family:pfdMedium;
 }

body{
  direction: rtl;
}
.nav-view{
  right: 0px !important;
  left: auto !important;
}
.side-menu {
    right: -250px;
    transition: 1s;
    left: auto;
}
.navbar i {
    margin-left: 10px;
    margin-right: 0px;
}
.myCarousel-2-img{
  -webkit-clip-path: ellipse(29% 40% at 0% 50%);
  clip-path: ellipse(96% 96% at 0% 50%);
  -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
}
.footer-nav i{
  margin-right: 0px;
  margin-left: 10px;
  float: right;
}
.header-right i.fa-user-circle-o{
  float: right;
}
.header-right i, .header-right img {
    margin-right: 0px;
    margin-left: 10px;
}
.faq i{
  float: left;
}
.order-details-head .status {
    margin-right: auto !important;
margin-left: 0px !important;
}
.order-details-head i {
    margin-left: 5px;
    margin-right: 0px;
}
.fa-hand-o-right,.carousel-links i,.fa-volume-control-phone,.fa-play,.number-slider i{
  -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.order-details-head p {
    margin-right: 0px !important;
    margin-left: 50px !important;
}
.card h4 {
    margin-right: 10px;
    margin-left: 0px;
}
.order-details-head p:first-child {
    margin-left: 50px !important;
}
.account-dropdown a:before {
    margin-right: 0px !important;
    margin-left: 5px !important;
    -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      display: inline-block;
}
/***/
@font-face {
  font-family: 'Droid Arabic Kufi';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/DroidKufi-Regular.eot');
  src: url('../fonts/DroidKufi-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/DroidKufi-Regular.woff2') format('woff2'),
       url('../fonts/DroidKufi-Regular.woff') format('woff'),
       url('../fonts/DroidKufi-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Droid Arabic Kufi';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/DroidKufi-Bold.eot');
  src: url('../fonts/DroidKufi-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/DroidKufi-Bold.woff2') format('woff2'),
       url('../fonts/DroidKufi-Bold.woff') format('woff'),
       url('../fonts/DroidKufi-Bold.ttf') format('truetype');
}

*{font-family:  'Droid Arabic Kufi', sans-serif}
.section-title{font-family:  'Droid Arabic Kufi', sans-serif !important}
.slider-3d .slider>.navContainer{position:initial !important}
.section-title::before{margin-left:10px;}
.section-title::after{margin-right:10px}
.size-buttons{float:right}
.buttons-control{text-align:left}
.size-buttons{float:right !important}
#image-preview_dragdrop-container{left:0 !important;right:auto !important}
.cropper-container + .cropper-container{display:none}
.buttons-control{text-align:left !important}