body {
text-align: left;
 }
.block{
  border-bottom:2px solid rgba(44, 55, 66, 0);
  padding: 10px 10px 0px 0px;
  margin: 10px 0px;
  display: flex;
  align-items: center;
}
.block i{
  background: #2c3742;
  color: #fff;
width: 35px;
height: 35px;
text-align: center;
line-height: 35px;
margin-right: 10px;
float: left;
}

.block p{
  margin-bottom: 0px;
}
.block span{
  margin-left: 5px;
}
.block label{
  font-weight: bold;
  color: #444;
}
table img{
  border: 1px solid #ddd;
  display: block;
    padding: 30px;
}
table p{
  margin-bottom: 0px;
}
table label{
  font-weight: bold;
  color: #444;
}
.download{
background: #fff;
border-color: #fff;
color: #444;
font-weight: bold;
}
.download i{
  color: #e74c3c !important;
}
.download:hover{
  background: #444;
  color: #fff;
  border-color: #444;
}
.list-group{
  padding-left: 0px;
}
.title{
  background: #e74c3c;
  color: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
}
.card{
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  border-bottom: 5px solid #34495e;
  margin-bottom: 50px;
  width: 100% !important;
}
.card i{
  color: #f39c12;
  margin-right: 5px;
}
.card b{
  color: #34495e;
}
.card span{
  color: #888;
}
.card-title{
  margin-left: 15px;
}
.list-group-flush .list-group-item:nth-child(odd){
  background: #eee;
}
.list-group-flush .list-group-item:first-child{
margin-top: 15px;
border-top: none;
}
.cards .col-md-3{
  padding: 5px;
}
.card-img-top{
  width: 100%;
}
/***/
.jarviswidget>header{color:#f39c12}
/*/
.smart-style-2 .btn.btn-ribbon {
    background: #f39c12;
}
.card,.title{background-color:#eeeeee}*/
.list-group-flush .list-group-item:first-child{margin-top:0}
.list-group-item{background-color:#eee}
.list-group-flush .list-group-item:nth-child(odd){background-color:#fff}
.jarviswidget>header{height:50px;padding-top:8px}
.smart-style-2 .btn.btn-ribbon{background-color:#f39c12}
.title {background: #eeeeee !important;border: 1px solid #ddd;}
.block i {
    background: #ffffff;
    color: #2c3742;
    width: 8px;
    height: 23px;
    line-height: 22px;
}
.block{padding:0 !important;margin:7px 0}
.block span {
    font-size: 13px;
    color: #868686;
}
.block label{color:#2c3742}