input[readonly] {
    cursor: text !important;
    background-color: #fff !important;
}

textarea {
    resize: none both !important;
    max-width: 100% !important;
    max-height: 150px !important;
    min-width: 100% !important;
    min-height: 100% !important;
    height: 150px !important;
}

.jarviswidget .widget-body1 {
    min-height: 0px !important;
    position: relative;
    padding-bottom: 13px;
}

.checkbox input[type=checkbox] {
    width: 30px;
    height: 20px;
    margin-top: 1px !important;
    margin-bottom: 1px !important;
    margin-left:-26px !important;
    margin-right:-5px !important;
}
td input[type="checkbox"] {
    width: 30px;
    height: 20px;
}
/*#region Loading*/
@-webkit-keyframes typing {
  0% {
    background-color: #ffffff;
    box-shadow: 12px 0px 0px 0px rgba(255, 255, 255, 0.2), 24px 0px 0px 0px rgba(255, 255, 255, 0.2);
  }
  25% {
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 12px 0px 0px 0px #ffffff, 24px 0px 0px 0px rgba(255, 255, 255, 0.2);
  }
  75% {
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 12px 0px 0px 0px rgba(255, 255, 255, 0.2), 24px 0px 0px 0px #ffffff;
  }
}
@-moz-keyframes typing {
  0% {
    background-color: #ffffff;
    box-shadow: 12px 0px 0px 0px rgba(255, 255, 255, 0.2), 24px 0px 0px 0px rgba(255, 255, 255, 0.2);
  }
  25% {
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 12px 0px 0px 0px #ffffff, 24px 0px 0px 0px rgba(255, 255, 255, 0.2);
  }
  75% {
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 12px 0px 0px 0px rgba(255, 255, 255, 0.2), 24px 0px 0px 0px #ffffff;
  }
}
@keyframes typing {
  0% {
    background-color: #ffffff;
    box-shadow: 12px 0px 0px 0px rgba(255, 255, 255, 0.2), 24px 0px 0px 0px rgba(255, 255, 255, 0.2);
  }
  25% {
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 12px 0px 0px 0px #ffffff, 24px 0px 0px 0px rgba(255, 255, 255, 0.2);
  }
  75% {
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 12px 0px 0px 0px rgba(255, 255, 255, 0.2), 24px 0px 0px 0px #ffffff;
  }
}
.loading-container {
  z-index: 90000 !important;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2c3742;
}
.loading-container.loading-inactive {
  display: none;
}
.loading-container.loading-inactive .loader {
  display: none;
}
.loading-container .loader {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  -webkit-animation: typing 1s linear infinite alternate;
  -moz-animation: Typing 1s linear infinite alternate;
  animation: typing 1s linear infinite alternate;
  margin: 50vh auto;
  /* Not necessary- its only for layouting*/
  position: relative;
  left: -12px;
}
/*#endregion Loading*/
     /* loader */
        .wrapperL{
            display:none;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9999999;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.wrapP{position: relative;width: 100%;height: 100%;}
.clearfix:before,
.clearfix:after {
  content: ' ';
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}
.hourglass {
  display: block;
  background:transparent;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-45%, -50%);
  width: 2em;
  height: 4em;
  box-shadow: inset #fff 0 0 0 0, inset #2c3742 0 2em 0 0, inset #fff 0 0 4em 0;
  -webkit-animation: hourglass 1s linear infinite;
          animation: hourglass 1s linear infinite;
}

.outer {
  fill: #2c3742;
}

.middle {
  fill: #fff;
}

@-webkit-keyframes hourglass {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    box-shadow: inset #fff 0 0 0 0, inset #2c3742 0 2em 0 0, inset #fff 0 4em 0 0, inset #2c3742 0 4em 0 0;
  }
  80% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    box-shadow: inset #fff 0 2em 0 0, inset #2c3742 0 2em 0 0, inset #fff 0 2em 0 0, inset #2c3742 0 4em 0 0;
  }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    box-shadow: inset #fff 0 2em 0 0, inset #2c3742 0 2em 0 0, inset #fff 0 2em 0 0, inset #2c3742 0 4em 0 0;
  }
}

@keyframes hourglass {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    box-shadow: inset #fff 0 0 0 0, inset #2c3742 0 2em 0 0, inset #fff 0 4em 0 0, inset #2c3742 0 4em 0 0;
  }
  80% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    box-shadow: inset #fff 0 2em 0 0, inset #2c3742 0 2em 0 0, inset #fff 0 2em 0 0, inset #2c3742 0 4em 0 0;
  }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    box-shadow: inset #fff 0 2em 0 0, inset #2c3742 0 2em 0 0, inset #fff 0 2em 0 0, inset #2c3742 0 4em 0 0;
  }
}
/*#endregion Loader*/